<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolTestIPCamera_Ver1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ToolTestIPCamera_Ver1.Properties.Settings>
            <setting name="Station" serializeAs="String">
                <value>PCBA-LAYER2</value>
            </setting>
            <setting name="MacLen" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="MacSixDigits" serializeAs="String">
                <value>A4F4C2</value>
            </setting>
            <setting name="LinuxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="McuPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LdcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DutIP" serializeAs="String">
                <value>192.168.1.100</value>
            </setting>
            <setting name="DutUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DutPass" serializeAs="String">
                <value />
            </setting>
            <setting name="RouterIP" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="RouterSSID" serializeAs="String">
                <value>IPCAM-Test-1</value>
            </setting>
            <setting name="FwVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="AdcValue" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="wmOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ufOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cwOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cfvOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cscOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cuOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="crlOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clsOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="csmOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cisOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbOption" serializeAs="String">
                <value>True</value>
            </setting>
        </ToolTestIPCamera_Ver1.Properties.Settings>
    </userSettings>
</configuration>